:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.2;
}

<<<<<<< HEAD
body {
  font-family: $manrope;
=======
html {
  font-family: $manrope;
}

body {
>>>>>>> 2fc649f9975072db29f716fa372786a93bc426c6
  background-color: $dark;
  color: $softWhite;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}
