$purple: #a785ed;
$darkPurple: #715e97;
$yellow: #fbcd6e;
$pink: #e183c8;
$lightPink: #f19bb8;

$dark: #1d2226;
$softWhite: #fdfdfd;

// Fonts
$open: "Open Sans", sans-serif;
$quantico: "Quantico", sans-serif;
$manrope: "Manrope", sans-serif;
