$purple: #a785ed;
$darkPurple: #715e97;
$yellow: #fbcd6e;
$pink: #e183c8;
$lightPink: #f19bb8;

$dark: #1d2226;
<<<<<<< HEAD
$softWhite: #fdfdfd;
=======
$darker: #171b1e;
$darkMarine: #0f1c26;
$softWhite: #fdfdfd;
$white: #ffffff;
>>>>>>> 2fc649f9975072db29f716fa372786a93bc426c6

// Fonts
$open: "Open Sans", sans-serif;
$quantico: "Quantico", sans-serif;
$manrope: "Manrope", sans-serif;
