.banner {
  position: relative;
  padding: 2rem 2.5rem;
  @include dflex(flex-start, flex-start, nowrap);
  gap: 5rem;
  width: 100%;
  margin-bottom: 4rem;
  background-color: $white;
  text-align: left;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    border-style: solid;
    border-width: 20rem 30rem 0px 0;
    border-color: transparent $pink transparent transparent;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
  }

  &_header {
    &__title {
      margin: 0 0 1.5rem 0;
      font-family: $quantico;
      @include fontStyle(4rem, 1.2);
      text-transform: uppercase;
      color: $dark;
    }

    p {
      font-family: $quantico;
      @include fontStyle(1.6rem, 1.2);
      text-transform: uppercase;
      color: $dark;
    }
  }

  &_count {
    &__title {
      margin: 1.8rem 0 1.5rem 0;
      font-family: $quantico;
      @include fontStyle(2.4rem, 1.2);
      text-transform: uppercase;
      color: $dark;
    }
  }

  &_couter {
    @include dflex(flex-start, center);
    gap: 0.8rem;

    &__icon {
      padding: 5px;
      background-color: $pink;
      border-radius: 50%;
      width: 20px;
      height: 20px;

      svg {
        stroke: $softWhite;
      }
    }

    &__number {
      margin: 0;
      font-family: $quantico;
      @include fontStyle(2rem, 1.2);
      text-transform: uppercase;
      color: $dark;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: -1rem;
  }
}
